.Navigation{
    display: flex;
    font: 800 30px lusitiana;
    list-style: none;
    gap: 20px;
}

.header {
    width: 100%;
    /*background-color: rgba(0, 0, 0, 0.8);*/
    padding: 20px;
     height: 100dvh;
    background-image: url("https://tinyurl.com/dsdfghjk254");
}

.navi{
    width: 100%;
    /*margin: 0;*/

    position: fixed;
    background:rgba(0, 0, 0, 0.3);
}
.Navigation{
    margin-right: 10px ;

}

.head {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    /*color: white;*/
}


.main{
    margin: 100px 0 0 40px;
}

.Dp{
    border-radius: 50%;
    float: right;
}

.lang-card{
    background: rgba(0, 0, 0, 0.3);
    border-radius:5px;
    padding:6%;
    width:250px; 
    height:250px;
    /* align-items:center; */
    border: 1px black solid;

}

.lang-card>p{
    /* text-align:center; */
    font-size: 26px;
    font-weight: 600;
}